<img src="../resources/cropped-SummerWorkshop_Header.png">  

<h1 align="center">EM Connectomics Workshop SWDB 2019 </h1> 
<h3 align="center">Tuesday, August 27, 2019</h3>



<div style="border-left: 3px solid #000; padding: 1px; padding-left: 10px; background: #F0FAFF; ">
    <p><b>Task 2:</b> The location of synaptic input can strongly affect how it is integrated in a postsynaptic cell. The chandelier cell is a GABAergic cell type in cortex that exclusively targets the axon initial segment (AIS). In this exercise, we want to look into input the the AIS of a pyramidal cell.
</div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
<p><b>Task 2.1:</b> Import the key modules and set parameters

</div>

In [72]:
import platform
import os

platstring = platform.platform()

if 'Darwin' in platstring:
    # macOS
    data_root = "/Volumes/PNY UFD30/"
    viz_method = 'vtk'
elif 'Windows'  in platstring:
    # Windows (replace with the drive letter of USB drive)
    data_root = "E:/"
    viz_method = 'vtk'
elif ('amzn1' in platstring):
    # then on AWS
    data_root = "/data/dynamic-brain-workshop/electron_microscopy/2019"
    viz_method = 'itkwidgets'
else:
    # then linux (default here is for Ubuntu - insert your username; your distribution may differ)
    data_root = "/media/$USERNAME/PNY UFD30"
    viz_method = 'vtk'
# OR if you'd like to override the auto options
# data_root = 
# viz_method = one of ['itkwidgets', 'vtk', 'vtkplotter']
mesh_folder = os.path.join(data_root, 'meshes')
skeleton_folder = os.path.join(data_root, 'skeletons')

In [73]:
# this is the EM specific package for querying the EM data
from analysisdatalink.datalink_ext import AnalysisDataLinkExt as AnalysisDataLink

In [74]:
# import some of our favorite packages
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [128]:
dataset_name = 'pinky100'
voxel_size = [4,4,40]
sql_database_uri = 'postgresql://analysis_user:connectallthethings@swdb-em-db.crjvviai1xxh.us-west-2.rds.amazonaws.com/postgres'


dl = AnalysisDataLink(dataset_name=dataset_name,
                      sqlalchemy_database_uri=sql_database_uri,
                      verbose=False)
mm = trimesh_io.MeshMeta(cv_path = 'graphene://https://swdb.dynamicannotationframework.com/segmentation/1.0/pinky100_sv16',
                         disk_cache_path=mesh_folder,
                         cache_size=2) #important to pass folder full of meshes, cv_path is for downloading meshses

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.2:</b> Find the AIS of a pyramidal cell from its mesh.
Find the part of the mesh associated with the AIS. We have manually identified points at the top and bottom bounds of the AIS for pyramidal cells in the volume. The table `manual_ais` points at 45 cells far from the edges of the volume where we gave careful manual scrutiny to cells along the AIS. The table `ais_bounds_v3` contains the actual upper (`func_id=1`) and lower (`func_id=0`) bounds of AIS 
        
        
<p><b>Task 2.2.1</b> Query the AIS bounds table `manual_ais` and find the AIS points associate with the pyramidal cell with `func_id=1` in the table. Visualize the mesh and the upper and lower points in vtk as a sanity check.
</div>

In [76]:
# this is an EM specific package for getting meshes
# and doing analysis on those meshes
from meshparty import trimesh_io, trimesh_vtk
from meshparty import skeletonize, skeleton_io, skeleton

In [140]:
#query AIS bounds table
ais_pyramidal = dl.query_cell_ids('manual_ais')
pass_id = 1
one_cell = ais_pyramidal[ais_pyramidal['func_id'] == pass_id]
one_cell.head()

,id,valid,pt_position,pt_supervoxel_id,pt_root_id,func_id
0,1,None,"[70079, 53307, 984]",91255097123688366,648518346349519030,1

In [105]:
ais_pyramidal.head()

,id,valid,pt_position,pt_supervoxel_id,pt_root_id,func_id
0,3,None,"[108160, 58292, 1960]",101674103668223162,648518346349519439,0
1,4,None,"[108585, 42929, 1511]",101939068790637319,648518346349519439,1
2,7,None,"[59739, 74272, 2026]",88462371948871974,648518346349520407,0
3,8,None,"[58906, 55131, 1568]",88159993366320027,648518346349520407,1
4,11,None,"[72100, 72765, 1082]",91838942092997518,648518346349520700,0

In [127]:
ais_bounds.head()

,id,valid,pt_position,pt_supervoxel_id,pt_root_id,func_id
0,3,None,"[108160, 58292, 1960]",101674103668223162,648518346349519439,0
1,4,None,"[108585, 42929, 1511]",101939068790637319,648518346349519439,1
2,7,None,"[59739, 74272, 2026]",88462371948871974,648518346349520407,0
3,8,None,"[58906, 55131, 1568]",88159993366320027,648518346349520407,1
4,11,None,"[72100, 72765, 1082]",91838942092997518,648518346349520700,0

,id,valid,pt_position,pt_supervoxel_id,pt_root_id,func_id
0,1,None,"[70079, 53307, 984]",91255097123688366,648518346349519030,1

In [131]:
post_mesh = mm.mesh(seg_id = ais_pyramidal[ais_pyramidal['func_id'] == pass_id]['pt_root_id'].values[0])
post_mesh

In [133]:
#initialize mesh viewer
viewer = None
if viz_method == 'itkwidgets':
    #import ITK widgets view function
    from itkwidgets import view
    
    # step 1
    # convert your actors to vtkpolydata objects
    post_poly_data = trimesh_vtk.trimesh_to_vtk(post_mesh.vertices, post_mesh.faces, None)
viewer=view(geometries=[post_poly_data],
                geometry_colors=['m'], 
                ui_collapsed=True)
viewer

Viewer(geometries=[{'vtkClass': 'vtkPolyData', 'points': {'vtkClass': 'vtkPoints', 'name': '_points', 'numberO…

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.2.2: </b> Find the vertex indices of the mesh that are closest to the AIS bounds points. Either by computing the Euclidean distance or visualizing in 3d, check that the bounds points and the mesh indices you find are actually close.

Hint: quick computation of closest spatial distances can be accomplished with a data structure called a k-D tree. `mesh.kdtree` is the k-D tree of the mesh vertices built using `scipy.spatial`. 

</div>

In [139]:
#take one cell and get the AIS
ais_bounds = dl.query_cell_ids('ais_bounds_v3')
ais_one_cell = ais_bounds[ais_bounds['pt_root_id'] == one_cell]
#vertex_indices = one_cell.kdtree()
#ais_data = post_mesh.kdtree.query(ais_bounds_v3)
ais_one_cell

     id valid pt_position  pt_supervoxel_id  pt_root_id  func_id
0   NaN   NaN         NaN               NaN         NaN      NaN
1   NaN   NaN         NaN               NaN         NaN      NaN
2   NaN   NaN         NaN               NaN         NaN      NaN
3   NaN   NaN         NaN               NaN         NaN      NaN
4   NaN   NaN         NaN               NaN         NaN      NaN
..   ..   ...         ...               ...         ...      ...
310 NaN   NaN         NaN               NaN         NaN      NaN
311 NaN   NaN         NaN               NaN         NaN      NaN
312 NaN   NaN         NaN               NaN         NaN      NaN
313 NaN   NaN         NaN               NaN         NaN      NaN
314 NaN   NaN         NaN               NaN         NaN      NaN

[315 rows x 6 columns]

In [122]:
#function to convert it to nm from voxels
def convert_to_nm(col, voxel_size=[4,4,40]):
    return np.vstack(col.values)*voxel_size

In [123]:
one_cell_nm = convert_to_nm(one_cell.pt_position)

In [124]:
one_cell.head()

,id,valid,pt_position,pt_supervoxel_id,pt_root_id,func_id
1,4,None,"[108585, 42929, 1511]",101939068790637319,648518346349519439,1
3,8,None,"[58906, 55131, 1568]",88159993366320027,648518346349520407,1
5,12,None,"[68392, 54061, 683]",90692138580324128,648518346349520700,1
7,14,None,"[104359, 55365, 1847]",100546000443160249,648518346349519896,1
9,16,None,"[87644, 47794, 1436]",96033591837860656,648518346349519233,1

In [102]:
ds_post, close_inds_post = one_cell_nm.kdtree.query(pt_position)

AttributeError: 'numpy.ndarray' object has no attribute 'kdtree'

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.2.3: </b> Find the vertex indices of the mesh "between" the top and bottom points. Note that in, gneeral, axons and dendrites can pass close to the AIS, so just using Euclidean space won't work.

Hint: `scipy.sparse.csgraph.dijkstra` is a useful shortest-path algorithm for finding paths along the mesh graph (`mesh.csgraph`)

</div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.2.4: </b> Visualize the AIS in the context of the whole neuron mesh.

Hint `mesh.apply_mask` takes a mesh.vertex-length boolean vector and returns a new mesh with only those points. 
</div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.3: </b> Synaptic input into the AIS

<p><b>Task 2.3.1: </b> Get an array of synapse locations ('ctr_pt_position') onto the same cell you looked at above and filter only those onto mesh points corresponding to the AIS.
    </div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.3.2 </b> Count how many synapses per presynaptic object there are. 
        </div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.3.3 </b>Visualize the synapses on the AIS mesh (using the trimesh_vtk.point_cloud_actor function) with a different color for each distinct presynaptic object and the size corresponding to the total number of synapses that neuron makes.

Knowing that chandelier cells make multi-synaptic candles, which synapses do you suspect are likely to come from chandelier cells?
</div>

<div style="background: #DFF0D8; border-radius: 3px; padding: 10px;">
    <p><b>Task 2.3.4  (Optional) </b> Write up AIS extraction and synapse filtering as a function. Try to run it on all 45 cells in the manual_ais table in order to get a histogram of AIS input and synapses per connection across pyramidal cells.
        </div>